
<%- include("header.ejs") %>
   
     <div class="container my-5">
 <form action="/updateuser/<%= user._id %>" method="post">
   <input name="name" type="text" value="<%= user.name %>" placeholder="enter your name" class="form-control my-2">
   <input name="email" type="email" value="<%= user.email %>" placeholder="enter your email" class="form-control my-2">
   <input name="password" type="password" value="<%= user.password %>" placeholder="enter your password" class="form-control my-2">
   <button class="btn btn-primary">Update</button>
 </form>
</div>
 
<%- include("footer.ejs") %>